<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Рекомендованные маршруты</title>
</head>
<body bgcolor="black" text="white">
    <h1>Рекомендованные маршруты</h1>
    <p>{{ header }}</p>

    <p>
        {% for l1, l2  in info.items %}
        <a>{{ l1 }} : {{ l2 }}<br/></a>
        {% endfor %}
    </p>

    <p>******************************</p>
    {% for recommended_route in top_routes %}
    <li></li>
        {% for r1, r2  in recommended_route.items %}
        <a>{{ r1 }} : {{ r2 }}<br/></a>
        {% endfor %}

    {% endfor %}
    <p>******************************</p>

    <p>Подробности</p>
    {% for route in routes %}
    <li>------------------------------</li>
        {% for el1, el2  in route.items %}
        <a>{{ el1 }} : {{ el2 }}<br/></a>
        {% endfor %}

    {% endfor %}

</body>
</html>